<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="22" android:versionName="1.0" package="mps.appsocio" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="MPS Socio">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBL9iOVNIGgLWdfpUnrHzR88rx3AuIOqzg" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
		<!--Receptor para OneSignal-->
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="MPS MOVIL" />
			</intent-filter>
		</receiver>
		<!--Receptor para OneSignal-->
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!--Permisos para OneSignal-->
	<permission android:name="MPS MOVIL.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="MPS MOVIL.permission.C2D_MESSAGE" />
	<!--Permisos para OneSignal-->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>